# * App
HOST=localhost
PORT=3000

# * POSTGRES
POSTGRES_HOST=postgres
POSTGRES_PORT=6614
POSTGRES_DB=ticket_system
POSTGRES_USER=postgres_username
POSTGRES_PASSWORD=postgres_password

# * REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password123

# * JWT
JWT_SECRET=secret
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400
PEPPER=6PPQfOkXnUrO7Ed2JEZjVU8oqHTrpF
